.container {
    /* width: 50vw; */
    height: 70vh;
    /* height: 100%; */
    /* overflow-y: scroll; */
    /* background-color: white; */
}

  .email-subject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    /* border: 1px solid #ccc; */
    background-color: white;
    /* border-radius: 8px; */
    height: 100%;
    overflow-y: scroll;
  }

  .email-list {
    border-bottom: 0.5px solid #ccc;
    width: 100%;
    /* height: 2rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
  }
  
 .email-from {
    width: 30%;
    margin-left: 2%;
    /* margin-right: 2%; */
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: 100; */
    font-size: 18px;
    /* border: 1px solid black; */
  }
  
 .email-subject-text {
    text-align: left;
    /* font-weight: 300; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid black; */
    width: 30%;
  }

  .delete-button {
    border-radius: 50%;
    margin-right: 2%;
  }

  .delete-button:hover, .delete-button:active {
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  .unread-dot {
    width: 8px;
    height: 8px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; 
  }

  .remove-dot {
    width: 8px;
    height: 8px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    visibility: hidden; 
  }

