.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    /* border: 1px solid black; */
    width: 20vw;
    height: 85vh;
    padding: 1rem;
    /* background-color: #f2f2f2; */
  }