.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20vw;
    height: 85vh;
    padding: 1rem;
  }

  @media (max-width: 715px) {
    .navigation {
      width: 30vw;
      height: 85vh;
      padding: 1rem;
    }
  
  }