.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #eee9e931;
}

  .content {
    flex: 1;
    padding: 20px;
  }

  

  
  /* .main-column {
    flex: 1; 
    overflow-y: auto;
  } */
  

